.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('slike/pupin_hall.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #fff;

  .nav {
    background-color: $bg-color;
    position: fixed;
    top: 0;
    width: 100%;

    @media only screen and (max-width: $md) {
      position: relative;
      }

    .meni {
      margin: 0;
      padding: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      @media only screen and (max-width: $md) {
        flex-direction: column;
      }
    }

    .stavka {
      border: 1px solid black;
      border-radius: 0;
      padding: 10px;
      
      &:hover {
        transition: all 0.1s ease-in;
        font-style: 700;
        color: #111;
        background: #eef;
        border-radius: 10px;
      }


      @media only screen and (max-width: $md) {
        width: 100%;
        padding: 10px;
      }
    }

    .zatvori {
      color: #111;
      border: 1px solid #111;
      margin-top: 5px;
      margin-bottom: 10px;
      padding: 10px;
      display: none;
      float: right;

         @media only screen and (max-width: $md) {
          display: block;
      }
    }

    .link {
      text-decoration: none;
      color: $link-color;
    }
  }

  .glavni-naslov {
    padding-top: 15px;
    margin: 15px 0 0 0;
    font-size: 2rem;
    text-shadow: 3px 5px 2px #474747;
    font-variant: small-caps;
  }

  .slika {
    padding-top: 0;
    border-radius: 50%;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.75);
    border: 1px solid #000;

    &:hover {
      box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.75);
      border: 2px solid #000;
      transform: scale(1.2);

      @include transition();
    }
  }

  .opis-slike {
    text-shadow: 3px 5px 2px #474747;
    text-align: center;
    font-size: 1.1rem;
    margin-top: 15px;
    font-variant: small-caps;
  }
}
