.patenti {
  .podnaslov {
    text-align: center;
  }

  .tabela {
    @include border();
    margin: 0 auto;
    border-collapse: collapse;

    .red {
      @include border();
    }

    .celija {
      @include border();
      padding: 15px;
    }

    .telo-tabele {
      .red:nth-child(even) {
        background-color: #eee;
      }

      .red:hover {
        background-color: #ccc;
      }
    }
  }
}
