.pronalasci {
  .figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 10px;

    @media only screen and (max-width: $md) {
      margin: 0;
      width: 100%;
      border-radius: 0;
      text-align: center;
    }
  }
}
