@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #fcfcfc;
  margin: 0;
  color: #575757;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-style: normal;
  padding: 0 15px 0 15px;
  line-height: 1.3rem;
  word-break: break-word;
}

h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 2rem;
  line-height: 2rem;
}
@media only screen and (max-width: 768px) {
  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

h3 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.8rem;
  line-height: 2rem;
}
@media only screen and (max-width: 768px) {
  h3 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  border: 3px solid #ccc;
  border-radius: 3px;
}

section {
  padding-top: 35px;
}
@media only screen and (max-width: 768px) {
  section {
    margin-top: 20px;
    padding-top: 20px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("slike/pupin_hall.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
  height: 100vh;
}
.header .nav {
  background-color: #fcfcfc;
  position: fixed;
  top: 0;
  width: 100%;
}
.header .nav .meni {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media only screen and (max-width: 768px) {
  .header .nav .meni {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 15px;
    margin-left: 15px;
  }
}
.header .nav .stavka {
  border: 1px solid black;
  border-radius: 0;
  padding: 10px;
}
.header .nav .stavka:hover {
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  font-style: 700;
  color: #111;
  background: #eef;
  border-radius: 10px;
}
@media only screen and (max-width: 768px) {
  .header .nav .stavka {
    width: 100%;
    padding: 10px;
  }
}
.header .nav .link {
  text-decoration: none;
  color: #525252;
}
.header .glavni-naslov {
  padding-top: 15px;
  margin: 15px 0 0 0;
  font-size: 2rem;
  text-shadow: 3px 5px 2px #474747;
  font-variant: small-caps;
}
.header .slika {
  padding-top: 0;
  border-radius: 50%;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.75);
  border: 1px solid #000;
}
.header .slika:hover {
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.75);
  border: 2px solid #000;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.header .opis-slike {
  text-shadow: 3px 5px 2px #474747;
  text-align: center;
  font-size: 1.1rem;
  margin-top: 15px;
  font-variant: small-caps;
}

.biografija .citat {
  border-left: 5px solid #000;
  padding: 20px;
  border-radius: 20px;
  line-height: 1.5rem;
}
@media only screen and (max-width: 768px) {
  .biografija .citat {
    margin: 0;
  }
}
.biografija .citat::first-letter {
  font-size: 2rem;
}

.obrazovanje .citat {
  border-left: 5px solid #000;
  padding: 20px;
  border-radius: 20px;
  line-height: 1.5rem;
}
@media only screen and (max-width: 768px) {
  .obrazovanje .citat {
    margin: 0;
  }
}
.obrazovanje .citat::first-letter {
  font-size: 2rem;
}

.pronalasci .figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #000;
  border-radius: 10px;
}
@media only screen and (max-width: 768px) {
  .pronalasci .figure {
    margin: 0;
    width: 100%;
    border-radius: 0;
    text-align: center;
  }
}

.patenti .podnaslov {
  text-align: center;
}
.patenti .tabela {
  border: 1px solid #000;
  margin: 0 auto;
  border-collapse: collapse;
  border: 0;
}
.patenti .tabela .red {
  border: 1px solid #000;
}
@media only screen and (max-width: 768px) {
  .patenti .tabela .red {
    display: block;
    margin-bottom: 10px;
  }
}
.patenti .tabela .celija {
  border: 1px solid #000;
  padding: 15px;
}
@media only screen and (max-width: 768px) {
  .patenti .tabela .celija {
    display: block;
  }
}
.patenti .tabela .telo-tabele .red:nth-child(even) {
  background-color: #eee;
}
.patenti .tabela .telo-tabele .red:hover {
  background-color: #ccc;
}

.video {
  text-align: center;
}

.kontakt .podnaslov {
  text-align: center;
}
.kontakt-forma .okvir {
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #f2f2f2;
}
@media only screen and (max-width: 768px) {
  .kontakt-forma .okvir {
    width: 100%;
  }
}
.kontakt-forma .polje {
  padding: 15px;
}
.kontakt-forma .polje textarea {
  width: 100%;
}
.kontakt-forma input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.kontakt-forma label {
  display: block;
}
.kontakt-forma .ocena {
  padding: 15px;
}
.kontakt-forma .ponudjene-ocene {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.kontakt-forma .ponudjene-ocene .polje {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.kontakt-forma .ponudjene-ocene .polje input {
  width: initial;
}
.kontakt-forma .button {
  margin-left: 15px;
  padding: 5px 10px;
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}
.kontakt-forma .button:hover {
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  background-color: #4caf50;
  color: white;
}

.footer {
  padding: 15px;
  margin: 15px;
  border-top: 2px solid #000;
  font-size: 1.5rem;
}
@media only screen and (max-width: 768px) {
  .footer {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=styles.css.map */