extends layout

block content

  h1 Dodaj studenta

  form(action="/studenti/dodaj" method="POST")
    .form-group
      label(for='ime-studenta') Ime studenta
      input#ime-studenta.form-control(type='text' required maxlength=20 placeholder='Ime studenta' name="ime_studenta")
    .form-group
      label(for='prezime-studenta') Prezime studenta
      input#prezime-studenta.form-control(type='text' required maxlength=30 placeholder='Prezime studenta' name="prezime_studenta")
    .form-group
      label(for='broj-indeksa') Prezime studenta
      input#prezime-studenta.form-control(type='text' required maxlength=10 placeholder='Broj indeksa' name="broj_indeksa")

    button.btn.btn-primary(type='submit') Dodaj
